* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    &::-webkit-scrollbar-track {
        background-color: #998989; /* Цвет фона трека (полосы прокрутки) */
    }
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(128, 118, 182); /* Измененный цвет при наведении */
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(143, 126, 96); /* Измененный цвет при наведении */
    }
    
}
