.play-icon{

   position: relative;
   margin-right: 5px;
  

   

  &::after{
   content: '';
   position: absolute;
   top: 10%;
   left: 0;
   width: 90%;
   height: 80%;
   border-right: 1px solid rgb(8, 8, 8);

   opacity: 0;
   //animation-name: animation__1;
   animation-duration: 1s;
   animation-fill-mode: none;
   animation-iteration-count: infinite;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}
@keyframes animation__1 {
   0%{
      opacity: 0;
   }
   25%{
      opacity: .3 ;
   }
   50%{
      opacity: 1 ;
   }
   75%{
      opacity: .3 ;
   }
   100%{
      opacity: 0;
   }
}

}
.play-animation::after{
animation-name: animation__1;
}



